.fw-7 {
  font-weight: 700;
}
.fw-b {
  font-weight: bold;
}
.fs-15 {
  font-size: 1.5rem;
}
.fs-175 {
  font-size: 1.75rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}
.none {
  display: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
